.label {
    -fx-text-fill: #bababa;
}

.text-field {
    -fx-text-fill: #bababa;
    -fx-background-color: #3c3f41;
    -fx-border-color: #646464;
}

.choice-box {
    -fx-background-color: #3c3f41;
    -fx-border-color: #646464;
    -fx-border-width: 1;
}


.context-menu {
    -fx-background-color: #313031;
}

.menu-item {
    -fx-background-color: #3c3f41;
}

.menu-item:hover {
    -fx-background-color: #4b6eaf;
}


/* 滚动条 */
.scroll-bar .track {
    -fx-background-color: #363636;
}

.scroll-bar .track-background {
    -fx-background-color: #363636;
}

.scroll-bar .thumb {
    -fx-background-color: #adadad;
}

.scroll-bar {
    -fx-background-color: #363636;
}



/* 列表 */

.list-view {
    -fx-background-color: #2a2a2b;

}


.list-cell {
    -fx-background-color: transparent;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled {
    -fx-border-width: 1 0 0 0;
}

/*按钮基本样式*/
.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #bababa;

}

.button:hover {
    -fx-background-color: #4b6eaf;

}



/*按钮基本样式*/
.button-item {
    -fx-background-color: #bababa;

}

.button-item:hover {
    -fx-background-color: #4b6eaf;

}